html,body{
			width: 100%;
			height: 100%;
			margin: auto;
		}
		#screen{
			border-style: solid;
			border-radius: 10px;
			border-width: 1px;
			background-color: rgb(250,250,180);
			width: 100%;
			height: 50%;
		}
		#screen table,#screen td{
			border-collapse: collapse;
		}
		#screen table{
			width: 98%;
			height: 98%;
			margin: 1%;
		}





		#stack{
			border-style: solid;
			border-radius: 10px;
			border-width: 1px;
			background-color: rgb(250,200,180);
			height: 15%;
			display: flex;
		}

		#stack img{
			border-width: 1px;
			height: 70%;
			margin-top: 5%;
			margin: auto;
		}





		#mdiv{
			height: 20%;
			width: 100%;
		}
		.contents{
			display: flex;
			margin: 1%;
			height: 70%;
			margin-top: 5%;
		}
		.contents img{
			margin: auto;
		}


		#btn,#phh{
			width: 100%;
			border-style: none;
			border-radius: 3px;
			height: 30px;
			color:white;
			margin-top: 2%;
			background-color: green;
			background-color: rgb(100,100,100);
		}

		

		#car{
			width: 10%;
			position: absolute;
			top: 23%;
			left: 46%;
			transform: rotate(70deg);
		}


		.cvv{
			display: none;
		}
